html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #B3D1FF;
}

body {
  margin: 0;
  margin-top: 10px;
  font-family: arial, sans-serif;
}


div {
  display:block;
}

.location {
  margin: 5px 5px;
  display: inline;
}

.name {
  font-family: 'La Belle Aurore', cursive;
  font-weight: bold;
  font-size: 120%;
}

.location:hover {
  color:green;
}

.interface {
  color: grey;
  font-style: italic;
}

h1 {
  font-family: 'La Belle Aurore', cursive;
  color: white;
  font-size: 4em;
  text-align: center;
  padding: 0 0;
}
